{% extends '../layouts/default.twig' %}
{% set head_title = 'about' %}

{% block page %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div>about</div>
      </div>
    </div>
  </div>
{% endblock %}